/* Flickr Embed */
a[data-flickr-embed="false"] > img {
  /* max-height: 384px; */
  height: 100%;
}

/* Youtube Embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.personal-links a {
  padding-left: 0;
}

.personal-links a:hover {
  color: #000;
}

.page .page-title {
  font-family: "Merriweather", "PT Sans", Helvetica, Arial, sans-serif;
}

.photo-container {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.photo-container img {
  float: left;
  margin-left: 10px;
  max-width: none;
}

body div.post p {
  font-family: "Merriweather", "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}

body div.post figure {
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
  text-align: center;
}
body div.post figure.inline {
  display: inline-block;
  margin: 4px 16px;
}
body div.post figure img {
  margin-bottom: 3px;
}
body div.post .vertical-long-img {
  max-height: 360px;
}
body div.post figure video {
  width: 320px;
  max-width: 100%;
}
body div.post figure figcaption {
  text-align: center;
  color: #777;
}
@media (max-width: 480px) {
  body div.post .vertical-long-img {
    max-height: 180px;
  }
}
